body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:20px;
	background-color: #A16AE8;
	color: rgb(254, 254, 255);
	font-size: 2em;
	font-family: Impact, fantasy;
	text-align: center;
}

.sidebar {
	color: #8742e2;
	grid-area: sidebar;
	padding:10px;
	background-color: #D2C7FF;
	overflow: auto;
	font-family: SANS-SERIF ,Arial Rounded MT Bold;
	text-align: center;

}



.sidebar-box {
    padding-top: 5px;
    padding: 30px; /* adds inner padding */
    background: transparent; /* background color */
    border: 1px solid #8742e2; /* border width, style, and color */
    margin: 12px; /* outer padding */ 
    border-radius: 30px;  
    font-family: SANS-SERIF ,Arial Rounded MT Bold;
	color:#8742e2;  
    font-size: 18px;  padding: 25px;  
    text-decoration: none;
    height:7px;
    width:170px;
    text-align: center; 
    line-height: 13px;
    transition: all 0.5s;
    cursor: pointer;

    
}

.sidebar-box:hover {
    background-color:  #A16AE8;
    color: white;
  }

.sidebar-intro{
	color: black;
}
  
.sidebar-box:hover,
.sidebar-item:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.content {
	grid-area: content;
}


.footer {
	grid-area: footer;
	padding:10px;
	background-color:  #A16AE8;
	color: white;
	font-family: SANS-SERIF ,Arial Rounded MT Bold;

}

